.cart-page {
  padding: 20px;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 стовпці */
  gap: 16px; /* Відстань між товарами */
  padding: 16px; /* Відступи навколо сітки */
}
